node_modules/
.env
.env.*
!.env.example

# Legacy Cypress
legacy/cypress/videos/
legacy/cypress/screenshots/
legacy/cypress/reports/
legacy/mochawesome-report/

# Flutter
app/flutter/.dart_tool/
app/flutter/.packages
app/flutter/build/
app/flutter/.flutter-plugins
app/flutter/.flutter-plugins-dependencies

# IDE
.idea/
*.iml

# OS
.DS_Store
